.home{
  background-image: url('../assets/jean-bg.jpg');
  padding: 12rem 0 12rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  h2{
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 2rem;

    @media (min-width: $screen-md-min) {
      font-size: 3rem;
    }
  }
}

.how-to-buy{
  padding-bottom: 3rem;

  p, li{
    font-size: 1.3rem;
  }

  li{
    margin-bottom: 0.7rem;

    span{
      font-weight: 400;
      color: $lp-gold;
    }
  }

  .well{
    margin-top: 4rem;
  }
}