.thumbnail{
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

  &-info-btn{
    float: left;

    a{
      color: grey;
      font-weight: 100;
      font-size: 0.8rem;
      margin-top: 10px;
    }
  }

  h3{
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h4{
    color: $lp-gold;
    font-weight: 400;
    font-size: 1.4rem;
  }

  p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $dk-gray;
  }
}