.product{
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  color: $dk-gray;

  &-info-btn{
    float: left;

    a{
      color: grey;
      font-weight: 100;
      font-size: 0.8rem;
      margin-top: 10px;
    }
  }

  h3{
    margin-top: 0;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h4{
    color: $lp-gold;
    font-weight: 400;
    font-size: 1.4rem;
  }

  p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    line-height: 1.1rem;
    margin-bottom: 0.3rem;
  }

  &-brandname{
    color: $lp-gold;
  }
}

.lastCollection{

  &:before{
    content:"última colección";
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 0.8rem;
    padding: 5px 10px;
    position: absolute;
    border-radius: 0 10px 0 10px;
  }
}