<div class="container how-to-buy">
  <h2 class="title-section">¿cómo comprar?</h2>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
      <p class="lead">Escríbenos a <a class="btn btn-default" href="mailto:info@londonopardo.com">info@londonopardo.com</a> indicando:</p>
      <ul class="list-unstyled">
        <li><span>1.</span> Modelo(s) escogido(s) con la talla deseada.</li>
        <li><span>2.</span> Datos personales (Nombre, apellido, cédula).</li>
        <li><span>3.</span> Número de teléfono (para contactarte y confirmar el pedido).</li>
        <li><span>4.</span> Nombre del fondo de empleados al cual estás inscrito.</li>
      </ul>
    </div>
    <hr>
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
      <h3 class="title-section">¿cómo pagar?</h3>
      <ul class="list-unstyled">
        <li><span>1.</span> Por fondo de empleados.</li>
        <li><span>2.</span> Contado contra entrega.</li>
      </ul>

      <h3 class="title-section">¿dónde recibo mis productos?</h3>
      <p>
        Las entregas se harán en el fondo de empleados respectivo.
      </p>
    </div>
    <div class="well col-xs-12 col-md-6 col-md-offset-3 text-center">
      Próximamente habilitaremos una sección para que puedas hacer tu solicitud acá mismo. Estamos trabajando para prestarte un mejor servicio.
  </div>
  </div>