<h2>para mujer</h2>
<p>
  Search:
  <input ng-model="$ctrl.query">
</p>

<p>
  Sort by:
  <select ng-model="$ctrl.orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
  </select>
</p>

<div class="row">
  <div class="col-sm-4 col-md-3" ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
    <div class="thumbnail">
      <a href="#!/phones/{{phone.id}}">
        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
        <div class="caption">
          <h3>{{phone.name}}</h3>
          <p>{{phone.snippet}}</p>
          <h4 class="text-right">{{phone.price | currency}}</h4>
          <p class="text-right">
            <a href="#" class="btn btn-default btn-sm" role="button">Agregar</a>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>