<div class="container">
  <h2 class="title-section">catálogo jeans para {{$ctrl.genre}}</h2>
  <!--<h4 class="text-center">
     Tallas disponibles: {{$ctrl.sizes[$ctrl.genre]}}
  </h4>-->

  <p>
    Ordenar por:
    <select ng-model="$ctrl.orderProp">
      <option value="price">Precio</option>
      <option value="name">Orden alfabético</option>
    </select>
  </p>

  <p>
    (*)Las imágenes son de referencia y han sido tomadas de los sitios oficiales.
  </p>

  <div class="row">
    <div class="col-sm-4 col-md-3" ng-repeat="phone in $ctrl.phones | orderBy:$ctrl.orderProp" ng-if="phone.genre == $ctrl.genre">
      <!--<span ng-if="{{phone.genre=='$ctrl.genre'}}">Show it!</span>
      -->
      <div class="product thumbnail {{phone.lastCollection}}">
        <img ng-src="{{phone.imageURL}}" alt="{{phone.reference}}">
        <div class="caption">
          <p class="product-brandname">{{phone.brand}}</p>
          <h3>{{phone.reference}}</h3>
          <p>{{phone.description}}</p>
          <p>Tallas: {{phone.sizes}}</p>
          <h4 class="text-right">{{phone.price | currency}}</h4>
          <!--href="#!/para-hombre/{{phone.id}}"-->
          <!--<p class="thumbnail-info-btn">
            <a data-toggle="modal" class="btn btn-default btn-xs" role="button">Más información</a>
          </p>-->
          <!--<p class="text-right">
            <a href="" class="btn btn-default btn-sm btn-gold" role="button" ng-click="test()">Agregar</a>
          </p>-->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>