<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="UTF-8">
  <title>Londoño Pardo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
  <!--<link rel="stylesheet" href="css/vendor.css" />-->
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/vendor.js"></script>
</head>
<body>
  <header class="container-fluid">
    <div class="container">
      <div class="lp-logo"></div>
      <h1 class="text-center">
        Londoño &amp; Pardo - Jeans    
      </h1>
      <nav class="nav">
        <ul class="row list-unstyled">
          <li class="col-xs-12 col-md-2"><a href="">acerca de</a></li>
          <li class="col-xs-12 col-md-2"><a href="">contacto</a></li>
          <li class="col-xs-12 col-md-2 nav-main nav-main-left"><a href="" class="selected">para hombre</a></li>
          <li class="col-xs-12 col-md-3 nav-main nav-main-right"><a href="" class="">para mujer</a></li>
          <li class="col-xs-12 col-md-3 nav-shop"><a href="">mis compras</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container-fluid" ng-controller="PhoneListController">
    <div class="container">
    <!--<div class="jumbotron">
      <h1>Hello, world!</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>-->
      <phone-list></phone-list>
      
      <!--Here :
      <ul>
        <li ng-repeat="phone in phones">
          <span>{{phone.name}}</span>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>-->
    </div>
  </main>
  
  <footer class="container-fluid">
    <div class="container">
      <div class="lp-logo lp-logo-footer"></div>
    </div>
  </footer>
  <script src="js/app.js"></script>
</body>
</html>