<!DOCTYPE html>
<html lang="en" ng-app="LPjeansApp">
<head>
  <meta charset="UTF-8">
  <title>Londoño Pardo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>
</head>
<body>
  <header class="container-fluid" ng-controller="HeaderController">
    <div class="container">
      <h1 class="text-center">
        <a href="#!/" ng-class="{ active: isActive('/')}"><div class="lp-logo"></div></a>
        <span>Londoño &amp; Pardo - Jeans</span>
      </h1>
      <nav class="nav" title="nav">
        <ul class="row list-unstyled">
          <li class="col-xs-6 col-md-4" ng-class="{ active: isActive('/como-comprar')}"><a href="#!/como-comprar">¿Cómo comprar?</a></li>
          <li class="col-xs-3 col-md-2 nav-main nav-main-left" ng-class="{ active: isActive('/para-mujer')}"><a href="#!/para-mujer">mujer</a></li>
          <li class="col-xs-3 col-md-3 nav-main nav-main-right" ng-class="{ active: isActive('/para-hombre')}"><a href="#!/para-hombre">hombre</a></li>
          <!--<li class="col-xs-12 col-md-3 nav-shop" ng-class="{ active: isActive('/mis-compras')}"><a href="#!/mis-compras">mis compras <span>({{items}})</span></a></li>-->
        </ul>
      </nav>
    </div>
  </header>
  <main class="container-fluid" ng-view>
  </main>
  <footer class="container-fluid">
    <div class="container">
      <div class="lp-logo lp-logo-footer"></div>
    </div>
  </footer>
</body>
</html>